<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Ionic Framework Example</title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="js/app.js"></script>
	</head>

	<body>

    <ion-side-menus>
      <ion-pane ion-side-menu-content="">
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
          <ion-nav-back-button class="button-icon"><span class="icon ion-ios7-arrow-left"></span></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-pane>

      <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>
        <ion-content has-header="true">
          <ion-list>
            <ion-item href="#/" menu-close="">Home</ion-item>
            <ion-item href="#/about" menu-close="">About</ion-item>
            <ion-item href="#/donate" menu-close="">Donate</ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
      
    </ion-side-menus>
    
    <script id="tabs.html" type="text/ng-template">
      <ion-view title="Fuel Saver">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons> 
        

        <ion-tabs class="tabs-icon-top tabs-positive">

          <ion-tab title="Statistics" icon="ion-arrow-graph-up-right" href="#/tab/statistics">
            <ion-nav-view name="statistics-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Fuels" icon="ion-android-car" ui-sref="tabs.fuels" >
            <ion-nav-view name="fuels-tab"></ion-nav-view>
          </ion-tab>
            
            <!--
          <ion-tab title="More" icon="ion-more" href="#/tab/more" >
            <ion-nav-view name="more-tab"></ion-nav-view>
          </ion-tab>
            -->
        </ion-tabs>
      </ion-view>
    </script>
    
    <script id="statistics.html" type="text/ng-template">
      <ion-view title="Statistics">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>        
        <ion-content padding="true">
          <h1 style="text-align: center;">Statistics Page</h1>
        </ion-content>
      </ion-view>
    </script>   
    
    <script id="fuels.html" type="text/ng-template">
      <ion-view title="Fuels" cache-view="false">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>      
        <ion-nav-buttons side="right">
		      <a href="#/tab/addfuel" class="button button-clear icon ion-plus-round"></a>
        </ion-nav-buttons>         
        <ion-content padding="true">
          <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
          <ion-list can-swipe="listCanSwipe">
            <ion-item ng-repeat="fuel in fuels" class="item item-avatar">
              <div class="row">
                <div class="col col-40">{{fuel.id}}</div>
                <div class="col col-30">{{fuel.previousOdometer}}</div>
                <div class="col col-30">{{fuel.vehicle.name}}</div>
              </div>
              <div class="row">
                <div class="col col-40"><h2>{{fuel.date | date:'dd/MM/yyyy'}}</h2></div>
                <div class="col col-30"><h3>{{fuel.fulltank}}</h3></div>
                <div class="col col-30"><h3>{{fuel.location}}</h3></div>
              </div>
              <div class="row">
                <div class="col col-40"><h4>{{fuel.tripkm}} km trip</h4></div>
                <div class="col col-30"></div>
                <div class="col col-30"><h4>{{fuel.litrerate | currency}}</h4></div>
              </div>
              <div class="row">
                <div class="col col-40"><h4>{{fuel.odometer}}</h4></div>
                <div class="col col-30"><h4>{{fuel.litres}}</h4></div>
                <div class="col col-30"><h4>{{fuel.total | currency}}</h4></div>
              </div>
              <ion-option-button class="button-positive" ng-click="edit(fuel)">Edit
              </ion-option-button>
              <ion-option-button class="button-info" ng-click="confirmDelete(fuel.id)">Delete
              </ion-option-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script> 
    
    <script id="fuel.html" type="text/ng-template">
      <ion-view title="Fuel Details">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>        
        <ion-content padding="true">
          <h1 style="text-align: center;">Fuel Details</h1>
            id: {{fuel.id}}<br/>
              vehicle name: {{fuel.vehicle.name}}<br/>
              Date: {{fuel.date | date:'medium'}}<br/>
              Odometer Reading: {{fuel.odometer}}<br/>
              Litres: {{fuel.litres}}<br/>
              $/litre: {{fuel.litrerate | currency}}<br/>
              Total $: {{fuel.total | currency}}<br/>
              Fulltank: {{fuel.fulltank}}<br/>
              Location: {{fuel.location}}
        </ion-content>
      </ion-view>
    </script>      

    <script id="addfuel.html" type="text/ng-template">
      <ion-view title="Add Fuel Details">
        <ion-content padding="true">
          <form name="addfuelform" novalidate="novalidate" on-valid-submit="save(fuel)">
            <div class="list">
              <label class="item item-input" validated>
                <span class="input-label">Vehicle name:</span>
                <input type="text" ng-model="fuel.vehicle.name" placeholder="Vehicle name">
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label" >Date:</span>
                <input type="date" ng-model="fuel.date" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Odometer:</span>
                <input type="number" ng-model="fuel.odometer" placeholder="Odometer" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Litres:</span>
                <input type="number" ng-model="fuel.litres" ng-change="changelitres()" placeholder="Litres" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">$/litre:</span>
                <input type="number" ng-model="fuel.litrerate" ng-change="changerate()" placeholder="$/litre" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Total:</span>
                <input type="number" ng-model="fuel.total" ng-change="changetotal()" placeholder="Total" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-toggle">
                <ion-toggle ng-model="fuel.fulltank" toggle-class="toggle-calm">Full Tank:</ion-toggle>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Location:</span>
                <input type="text" ng-model="fuel.location" placeholder="Location" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
            </div>
            <div class="padding container">
                <div class="row">
                    <button class="button button-assertive button-small col col-40" ui-sref="tabs.fuels"> Cancel </button>
                    <button class="button button-balanced  button-small col col-40 col-offset-10" type="submit"> Save </button>
                </div>
            </div>
          </form>
        </ion-content>
      </ion-view>
    </script>        
    
    <script id="editfuel.html" type="text/ng-template">
      <ion-view title="Edit Fuel Details">
        <ion-content padding="true">
          <form name="editfuelform" novalidate="novalidate" on-valid-submit="save(fuel)">
            <div class="list">
              <label class="item item-input" validated>
                <span class="input-label">Vehicle name:</span>
                <input type="text" ng-model="fuel.vehicle.name" placeholder="Vehicle name">
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label" >Date:</span>
                <input type="date" ng-model="fuel.date" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Odometer:</span>
                <input type="number" ng-model="fuel.odometer" placeholder="Odometer" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Litres:</span>
                <input type="number" ng-model="fuel.litres" ng-change="changelitres()" placeholder="Litres" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">$/litre:</span>
                <input type="number" ng-model="fuel.litrerate" ng-change="changerate()" placeholder="$/litre" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Total:</span>
                <input type="number" ng-model="fuel.total" ng-change="changetotal()" placeholder="Total" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-toggle">
                <ion-toggle ng-model="fuel.fulltank" toggle-class="toggle-calm">Full Tank:</ion-toggle>
              </label>
              <label class="item item-input" validated>
                <span class="input-label">Location:</span>
                <input type="text" ng-model="fuel.location" placeholder="Location" required="required" >
                <i class="icon ion-alert-circled error col col-10"></i>
              </label>
            </div>            
            <div class="padding container">
                <div class="row">
                    <button class="button button-assertive button-small col col-40" ui-sref="tabs.fuels"> Cancel </button>
                    <button class="button button-balanced  button-small col col-40 col-offset-10" type="submit"> Save </button>
                </div>
            </div>
          </form>
        </ion-content>
      </ion-view>
    </script> 
        
        <!--
    <script id="more.html" type="text/ng-template">
      <ion-view title="More">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>        
        <ion-content padding="true">
          <h1 style="text-align: center;">More Page</h1>
        </ion-content>
      </ion-view>
    </script>
        -->
    
    <script id="about.html" type="text/ng-template">
      <ion-view title="About">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>        
        <ion-content padding="true">
          <h1 style="text-align: center;">About Page</h1>
        </ion-content>
      </ion-view>
    </script>    
    
    <script id="donate.html" type="text/ng-template">
      <ion-view title="Donation">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>        
        <ion-content padding="true">
          <h1 style="text-align: center;">Donation Page</h1>
        </ion-content>
      </ion-view>
    </script> 

	</body>
</html>